GeneradorEncuestas/Solidario.GeneradorEncuestas.UIWeb/Connected Services/WSFormularios/Formularios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFormularioPorCodigo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoFormulario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFormularioPorCodigoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFormularioPorCodigoResult" type="tns:DtoFormulario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DtoFormulario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Preguntas" type="tns:ArrayOfDtoPregunta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDtoPregunta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DtoPregunta" nillable="true" type="tns:DtoPregunta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DtoPregunta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Orden" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EsObligatorio" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoPregunta" type="tns:DtoTipoPregunta" />
          <s:element minOccurs="0" maxOccurs="1" name="ValoresPregunta" type="tns:ArrayOfDtoValoresPregunta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DtoTipoPregunta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDtoValoresPregunta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DtoValoresPregunta" nillable="true" type="tns:DtoValoresPregunta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DtoValoresPregunta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Orden" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFormularioPorCodigoSoapIn">
    <wsdl:part name="parameters" element="tns:GetFormularioPorCodigo" />
  </wsdl:message>
  <wsdl:message name="GetFormularioPorCodigoSoapOut">
    <wsdl:part name="parameters" element="tns:GetFormularioPorCodigoResponse" />
  </wsdl:message>
  <wsdl:portType name="FormulariosSoap">
    <wsdl:operation name="GetFormularioPorCodigo">
      <wsdl:input message="tns:GetFormularioPorCodigoSoapIn" />
      <wsdl:output message="tns:GetFormularioPorCodigoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FormulariosSoap" type="tns:FormulariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFormularioPorCodigo">
      <soap:operation soapAction="http://tempuri.org/GetFormularioPorCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FormulariosSoap12" type="tns:FormulariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFormularioPorCodigo">
      <soap12:operation soapAction="http://tempuri.org/GetFormularioPorCodigo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Formularios">
    <wsdl:port name="FormulariosSoap" binding="tns:FormulariosSoap">
      <soap:address location="http://localhost/Solidario.GeneradorEncuestas.Servicio/Formularios.asmx" />
    </wsdl:port>
    <wsdl:port name="FormulariosSoap12" binding="tns:FormulariosSoap12">
      <soap12:address location="http://localhost/Solidario.GeneradorEncuestas.Servicio/Formularios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>